name: Deploy to S3 + Invalidate CloudFront

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Build (Next static export -> out/)
        run: npm run build

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::217757579875:role/alan-weiler-admin
          aws-region: ap-southeast-2

      - name: Sync out/ to S3
        run: aws s3 sync out/ s3://alan-weiler-source-bucket/ --delete

      - name: Invalidate CloudFront cache
        run: aws cloudfront create-invalidation --distribution-id E35DEOP1C2XC6M --paths "/*"